/* List options */
.show-items-list {margin-left: 0}
.show-items-list li {float: left; list-style: none; margin: 0 4px;}
.show-items-list li:first-child {margin-left: 0;}

/* Grid filters */
.atf-grid table .filters {background-color: #E3EFF1; font-size: 0.9em;}
.atf-grid table .filters td div {vertical-align: top; white-space: nowrap;}
.atf-grid table .filters td input {width: 92%; height: 20px; margin: 4px 0;}
.atf-grid table .filters td select {margin: 4px 0; width: 100%}
.atf-grid table .filters td input[type=submit] {width: 100%;}
.atf-grid table .filters td div {clear: both;}

/* Sorting */
a.sortable:hover {text-decoration: none;}
.sortable > .active {color: #DD4B39;}

/* Group actions */
.atf-grid-group-actions {}

/* Item */
.item-info {margin-bottom: 10px; padding-bottom: 10px;}
.item-info .back {font-size: 11px;}
.item-info .back a {text-decoration: none;}
.item-info .info {font-size: 14px;}

/* general */
.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	clear:both;
}

/* pagination */
.container-buttons-pagination .btn-toolbar {
	margin-right:20px;
	float:left;
}

.container-buttons-pagination .pagination {
	float:left;
	margin-top:11px;
}

